version: "3.9"

services:
  db:
    image: postgres:16
    container_name: spasibki_db
    ports:
      - "127.0.0.1:5432:5432"
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - spasibki_net

  backend:
    build: .
    container_name: spasibki_backend
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"
    networks:
      - spasibki_net

volumes:
  db_data:

networks:
  spasibki_net:
